

.secContent {
    justify-content: center;
    gap: 1rem; 
  
    .singleDestination {
      height: 120px; 
      display: grid;
      row-gap: 5px;
      border-radius: 8px; 
      align-items: center; 
      box-shadow: 0 2px 4px rgba(25, 57, 216, 0.2); 
      overflow: hidden;
      transition: .3s ease;
  
      &:hover {
        box-shadow: 1px 4px 4px rgba(4, 4, 119, 0.2); 
      }
  
      .imageDiv {
        height: 80px; 
        width: 100%; 
        overflow: hidden;
  
        img {
          height: 100%; 
          width: 100%; 
          object-fit: cover;
          transition: 0.5s ease;
        }
      }
  
      &:hover {
        .imageDiv img {
          transform: scale(1.1);
        }
      }
  
      .cardInfo {
        padding: 0.75rem; 
  
        .destTitle {
          color: var(--blackColor);
          font-size: 1rem;
          margin-bottom: 0.5rem; 
        }
      }
    }
  }
  
  .search-bar {
    position: relative;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  
  .search-bar input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px; /* For older versions of Chrome/Safari */
    -moz-border-radius: 5px; /* For older versions of Firefox */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
    filter: alpha(opacity=50); /* IE 5-7 */
    opacity: 0.5; /* Standard */
  }
  
  /* Add the filter property to support Chrome */
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    .search-bar input[type="text"] {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
      filter: alpha(opacity=50); /* IE 5-7 */
      opacity: 0.5; /* Standard */
    }
  }
            .continent{
                gap: .5rem;
              

                .name{
                    color: var(--textColor);
                    font-weight: 400;
                    font-size: 14px;
                }
            }

            

                .grade{
                  color: var(--textColor);
                  max-width: 100px;
                  line-height: 20px;
                  display: flex;
                  align-items: center;
                  justify-content: center;


                  small{
                    text-align: center;
                    background: var(--gradientColor);
                    border-radius: 1rem;
                    color: var(--whiteColor);
                    padding: 1px 10px;
                    font-size: 10px;
                  }
                }

                .cost{
                    font-size: 2rem;
                    color: var(--blackColor);
                }
        


 
@media screen and (min-width: 500px){

    .title{
        font-size: 1.5rem;
        &::after{
           width: 155px !important;
        }
    }
    .secContent{
        grid-template-columns: repeat(2, 1fr);

        .singleDestination{
            height: auto;
        }
    }
}

@media screen and (min-width: 840px){
    .secContent{
        grid-template-columns: repeat(3, 1fr);

        .singleDestination{
            height: auto;
        }
    }
}