body {
  /* Set background image */
  background-image: url(""); /* Assuming the image is located in the assets folder */
  /* Adjust background properties */
  background-size: cover; /* Cover the entire viewport */
  background-repeat: no-repeat; /* Prevent repeating the background image */
  background-position: center; /* Center the background image */
}

/* Your existing styles for the form container */
.form-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 50px;
}

@media screen and (max-width: 1000px) {
  .form-container {
    width: 90%;
    padding: 30px;
  }
}

@media screen and (max-width: 700px) {
  .form-container {
    width: 95%;
    padding: 20px;
  }
}
